@import url('https://fonts.googleapis.com/css?family=Popping:200,300,400,500,600,700,800,900&display=swa');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Popping', sans-serif;
}
html
{
    scroll-behavior: smooth;
}
body
{
    min-height: 1000px;
    background: #800000;
}
#gotop   
{
    font-size: 30px;
    position: fixed;
    bottom: 10px;
    right: 30px;
    padding: 15px 15px;
    align-items: center;
    background: rgba(255,255,255,0.0);
    border: none;
    cursor:pointer;
    overflow: hidden;  
    border-radius: 100px;
    color: #fff;
    font-display: flex;
    transition: 0.5s;
}
#gotop:hover
{
    font-size: 40px;
}
header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    font-style: bold;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
    z-index: 10;
    transition: 0.6s;
}
header.sticky
{
    padding: 5px 100px;
    background: #fff;
    font-style: bold;
    border-bottom: 1px solid rgba(0,0,0,.1);
}
header .logo
{
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}
header ul
{
    position: relative;
    font-weight: 500;
    font-style: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li
{
    position: relative;
    list-style: none;
    font-style: bold;
}
header ul li a
{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    font-style: bold;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 300;
    transition: 0.6s;
}
header.sticky .logo,
header.sticky ul li a
{
    color: #000;
}
.banner
{
   position: relative;
   width: 100%;
   min-height: 100vh;
   background: url(bandeira.png);
   background-size: cover;
   display: flex;
   justify-content: center;
   align-items: center;
}
.banner h2
{
    color: #fff;
    text-shadow: black 0.1em 0.1em 0.2em;
    font-size: 90px;
    text-transform: uppercase;
    text-align: center;
    line-height: 1em;
}
.banner h2 span
{
    
    color: rgba(250, 73, 73, 1);
    text-shadow: black 0.1em 0.1em 0.2em;
    /*-webkit-text-stroke: 5px #000;*/
    font-size: 200px;
    position: relative;
    top: 40px;
}
.sec
{
    background: rgb(142, 27, 62);
    padding: 100px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    text-shadow: black 0.1em 0.1em 0.2em;
}
.sec .content
{
    position: relative;
    text-align: center;
    width: 100%;
    text-shadow: black 0.1em 0.1em 0.2em;
}
.mxw800p
{
    max-width: 800px;
    margin: 0 auto;
}
h3
{
    color: #fff;
    font-size: 40px;
    font-weight: 200;
    margin-bottom: 10px;
}
p
{
    color: #fff;
    position: relative;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 20px;
    letter-spacing: 1px;
}
.btn
{
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    margin: 40px;
    justify-content: center;
    align-items: center;
    background: rgba(255,255,255,0.05);
    box-shadow: 0 15px 35px rgba(0,0,0,0.2);
    border-top: 1px solid rgba(255,255,255,0.1);
    border-bottom: 1px solid rgba(255,255,255,0.1);
    border-radius: 30px;
    text-decoration: none;
    color: #fff;
    z-index: 1;
    -webkit-box-reflect: below 0px linear-gradient(transparent,#0002);
    text-decoration: none;
    overflow: hidden;
    transition: 0.5s;
    backdrop-filter: blur(15px);
}
.btn:hover
{
    letter-spacing: 5px;
}
.btn::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to left, rgba(255,255,255,0.15),transparent);
    transform: skew(45deg) translateX(0);
    transition: 0.5s;
}
.btn:hover::before
{
    transform: skew(45deg) translateX(200%);
}
.toggle
{
    display: none;
}
@media (max-width: 992px)
{
    .banner h2
    {
        font-size: 60px;
    }
    .banner h2 span 
    {
        font-size: 120px;
    }
    .toggle
    {
        display: block;
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
    .toggle::before
    {
        content:'';
        position: absolute;
        top: 4px;
        width: 100%;
        height: 2px;
        background: #000;
        z-index: 1;
        box-shadow: 0 10px 0 #000;
        transition: 0.5s;
    }
    .toggle::after
    {
        content:'';
        position: absolute;
        bottom: 4px;
        width: 100%;
        height: 2px;
        background: #000;
        z-index: 1;
        transition: 0.5s;
    }

    header
    {
        padding: 5px 50px;
        background: #fff;
    }
    header ul
    {
        position: absolute;
        top: 59px;
        left: 0;
        width: 100%;
        height: 100vh;
        text-align: center;
        overflow: auto;
        background: #fff;
        visibility: hidden;
        opacity: 0;
    }
    header.active ul
    {
        visibility: visible;
        opacity: 1;
        display: block;
        padding-top: 20px;
    }
    header.active ul li a
    {
        display: inline-block;
        margin: 10px 0;
        font-size: 20px;
    }
    header .logo, 
    header ul li a
    {
        color: #000;
    }
}
@media (pointer: coarse) 
{
    .banner h2
    {
        font-size: 30px;
    }
    .banner h2 span 
    {
        font-size: 90px;
    }
    .toggle
    {
        display: block;
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
    .toggle::before
    {
        content:'';
        position: absolute;
        top: 4px;
        width: 100%;
        height: 2px;
        background: #000;
        z-index: 1;
        box-shadow: 0 10px 0 #000;
        transition: 0.5s;
    }
    .toggle::after
    {
        content:'';
        position: absolute;
        bottom: 4px;
        width: 100%;
        height: 2px;
        background: #000;
        z-index: 1;
        transition: 0.5s;
    }

    header
    {
        padding: 5px 50px;
        background: #fff;
    }
    header ul
    {
        position: absolute;
        top: 59px;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        overflow: auto;
        background: #fff;
        visibility: hidden;
        opacity: 0;
    }
    header.active ul
    {
        visibility: visible;
        opacity: 1;
        display: block;
        padding-top: 20px;
    }
    header.active ul li a
    {
        display: inline-block;
        margin: 10px 0;
        font-size: 20px;
    }
    header .logo, 
    header ul li a
    {
        color: #000;
    }
}
.FG{
    background-color: rgb(142, 27, 62);
    right: 100px; 
    left: 100px;
    position: relative;
    font-size: 20px;
    max-width: 85rem; 
    width: 100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    color:#fff;
   
}
.titulos{

     font-size: 30px;
     padding-left: 20px;
     padding-right: 20px;
     border-left: 5px solid #800000;
     margin-left: 20px;
     border-radius: 10px;
     color: #fff;
}


.GP{

   float: none;
   color: #fff;
   font-size: 18px;
   font-weight: 300;
   margin-bottom: 20px;
   letter-spacing: 1px;
   width: 100%;
   max-height: 600px;


}





